

#from-current-per-btc
{
	background-color: #ffffb3;
	cursor: pointer;
}
#to-current-per-btc
{
	background-color: #ffffb3;
	cursor: pointer;
}

#updated-from-link
{
	background-color: #ffffb3;
	cursor: pointer;
}